<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>My Portfolio</title>
    <link rel="stylesheet" href="/portfolio/code_files/template/style.css">
    <link rel="stylesheet" href="/portfolio/code_files/Python/python.css">
    <link rel="stylesheet" href="/portfolio/code_files/template/login.css">
    

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">

    <style>
        .formcontainer{
            margin-left: auto;
            margin-right: auto;
            font-size: large;
        }
        #image{
            margin-left: 4vw;
        }

        @media screen and (min-width:1024px) {
            #image{
                margin-left: 12vw;
            }
        }
    </style>

</head>

<body>
    <div class="headsec sticky">
        <div class="header">
            <div class="logo">
                <h2><a href="/portfolio/code_files/template/index.html">Rohitash Singh</a> </h2>
            </div>
            <div class="righthead">
                <ul>
                    <li class="right bodonhover">
                        <a href="/portfolio/portfolio 2.0/template/index.html">Home</a>
                    </li>
                    <li class="right bodonhover">
                        <a href="#about">About</a>
                    </li>
                    <li class="right bodonhover">
                        <a href="/portfolio/portfolio 2.0/Blog/blog.html">Blog</a>
                    </li>
                    <li class="right bodonhover">
                        <a href="/portfolio/portfolio 2.0/template/contact.html">Contact Us</a>
                    </li>
                </ul>
                <div class="loginbtn">
                    <button class="btn" id="login">Login</button>
                    <button class="btn" id="signup">Signup</button>
                </div>
            </div>
        </div>
    </div>

    <div class="navbar sticky1">
    <div class="nav ">
        <div class="home">
            <a href="/portfolio/code_files/template/index.html">
                <i class="fa fa-home pointer" style="background-color: aliceblue;color:rgb(29, 29, 210);"></i>
            </a></button>
        </div>
        <div class="midnav">
            <div class="lang bodonhover">
                <a href="/portfolio/code_files/Python/python.html">PYTHON </a>
            </div>
            <div class="lang bodonhover">
                <a href="/portfolio/code_files/ML/ml.html">ML</a>
            </div>
        </div>
        <div class="search">
            <div class="fa fa-search pointer" style="background-color: aliceblue;color:rgb(29, 29, 210);"></div>
            </button>
        </div>
    </div>
    </div>

    <div class="container mx-auto">
        <div class="content mx-auto"> 
            <!-- <div class="image m-auto">
                <img src="/basic html/coffeeshop.jpg" alt="">
            </div> -->
            <div class="form">
                <center>
                <form action="action.py">
                    <div class="formcontainer">
                        <h1 class="my">Background Remover </h1>
                        <p>Select Any Image </p>
                        <input type="file" name="image" id="image" class="inputbox">
                        <input type="button" value="get QR" name="submit" class="btn mx inputbox" id="submit" style="width: 55%;">
                    </div>
                </form>
                </center>
            </div>
        </div>
    </div>
        
  <div class="loginfooter">
    <div class="loginfcontainer">
      Contact us on     
        <a href="https://www.github.com/" target="_blank"> <div class="fa fa-github pointer m-l bg"></div></a>
        <a href="https://www.linkedin.com/" target="_blank"> <div class="fa fa-linkedin pointer m-l bg"></div></a>
        <a href="https://www.facebook.com/" target="_blank"> <div class="fa fa-facebook pointer m-l bg"></div></a>
      </div>
    </div>
    

</body>

</html>