<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>programming's hub</title>
  <link rel="stylesheet" href="/portfolio/code_files/Blog/style.css">
  <link rel="stylesheet" href="utils.css">

  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">



  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">

</head>

<body>
  <div class="header">
    <h3 class="pointer">programming's hub</h3>
    <ul id="nav navGo" onload="remove_nav()" class="nav">
      <li class="right bodonhover">
        <a href="/portfolio/code_files/template/index.html" class="textstyle">Home</a>
      </li>
      <li id="#" class="pointer">About</li>
      <li class="right bodonhover">
        <a href="/portfolio/portfolio 2.0/template/contact.html" class="textstyle">Contact Us</a>
      </li>
  
      <button onclick="changeToCross()" id="submit" class="pointer">Menu </button>
    </ul>

  </div>

  <div class="container">
    <div class="leftcolumn">
      <div class="card">
        <h1 class="py">Practical Tutorial on Data Manipulation with Numpy in Python</h1>
        <p class="py">October 30, 2022</p>
        <h1 class="py">Introduction</h1>
        <p class="py">
            The pandas library has emerged into a power house of data manipulation tasks in python since it was developed in 2008. With its intuitive syntax and flexible data structure, it's easy to learn and enables faster data computation. The development of numpy and pandas libraries has extended python's multi-purpose nature to solve machine learning problems as well. The acceptance of python language in machine learning has been phenomenal since then.
        </p>
        <p class="py">
            This is just one more reason underlining the need for you to learn these libraries now. Published in early 2017, this blog claimed that python jobs outnumbered R jobs.
        </p>
        <p class="py">
            In this tutorial, we'll learn about using numpy and pandas libraries for data manipulation from scratch. Instead of going into theory, we'll take a practical approach.
        </p>
        <p class="py">
            First, we'll understand the syntax and commonly used functions of the respective libraries. Later, we'll work on a real-life data set.
        </p>
        <p>
            Note: This tutorial is best suited for people who know the basics of python. No further knowledge is expected. Make sure you have python installed on your laptop.
        </p>
        <h1 class="py">
            6 Important things you should know about Numpy and Pandas
        </h1>
        <p>
            <ol>
                <li>
                    The data manipulation capabilities of pandas are built on top of the numpy library. In a way, numpy is a dependency of the pandas library.
                </li>
                <li>
                    Pandas is best at handling tabular data sets comprising different variable types (integer, float, double, etc.). In addition, the pandas library can also be used to perform even the most naive of tasks such as loading data or doing feature engineering on time series data.
                </li>
                <li>
                    Numpy is most suitable for performing basic numerical computations such as mean, median, range, etc. Alongside, it also supports the creation of multi-dimensional arrays.
                </li>
                <li>
                    Numpy library can also be used to integrate C/C++ and Fortran code.
                </li>
                <li>
                    Remember, python is a zero indexing language unlike R where indexing starts at one.
                </li>
                <li>
                    The best part of learning pandas and numpy is the strong active community support you'll get from around the world.
                </li>
            </ol>
        </p>
<!--         
        <div class="image px">
          <img src="https://myriadbrain.com/wp-content/uploads/2022/01/WhatsApp-Image-2022-01-26-at-4.27.40-PM-min.jpeg"
          class="image" alt="coding image">
        </div> -->
        
      </div> <!-- end of card class of leftcolumn -->

    </div> <!-- end of leftcolumn -->

    <div class="rightcolumn">
      <div class="card disp-none">
        <div class="searchbar">
          <div class="searchbox">
            <input type="text" name="search" id="search" placeholder="Search">
          </div>
          <div class="btn mx s_btn">
            <p>Search</p>
          </div>
        </div>
      </div>

      <div class="card px">
        <h1 class="py">Popular post</h1>
        <p class="">
          <p class="py-1"><a href="#" style="color: blue;" class="pointer"> 
            Best Machine Learning Roadmap Definitive guide to ML for 2022
          </a> </p>
          <p class="py-1"> <a href="/portfolio/code_files/numpy/index.html" style="color: blue;" class="pointer"> 
            Numpy Introduction
          </a>
          </p>
          <p class="py-1"> <a href="/portfolio/code_files/pandas/index.html" style="color: blue;" class="pointer"> 
            Pandas Introduction
          </a>
          </p>
      </div>
    </div> <!-- end of right column -->
  </div> <!-- end of container class -->

  <div class="footer">
    <div class="fcontainer">
      contact us on 
        <a href="https://www.github.com/" target="_blank" style="color:black;"><div class="fa fa-github pointer p-l"></div>
        </a>
        <a href="https://www.linkedin.com/" target="_blank" style="color:black;"><div class="fa fa-linkedin pointer p-l"></div>
        </a>
        <a href="https://www.facebook.com/" target="_blank" style="color:black;"><div class="fa fa-facebook pointer p-l"></div>
        </a>
      </div>
  
    </div>
  </div>

</body>

</html>