<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>programming's hub</title>
  <link rel="stylesheet" href="/portfolio/code_files/Blog/style.css">
  <link rel="stylesheet" href="utils.css">

  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">



  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">

</head>

<body>
  <div class="header">
    <h3 class="pointer">programming's hub</h3>
    <ul id="nav navGo" onload="remove_nav()" class="nav">
      <li class="right bodonhover">
        <a href="/portfolio/code_files/template/index.html" class="textstyle">Home</a>
      </li>
      <li id="#" class="pointer">About</li>
      <li class="right bodonhover">
        <a href="/portfolio/portfolio 2.0/template/contact.html" class="textstyle">Contact Us</a>
      </li>
      
      <button onclick="changeToCross()" id="submit" class="pointer">Menu </button>
    </ul>

  </div>

  <div class="container">
    <div class="leftcolumn">
      <div class="card">
        <h1 class="py">Practical Tutorial on Data Manipulation with Pandas in Python</h1>
        <p class="py">November 5, 2022</p>
        <p>
            Pandas is defined as an open-source library that provides high-performance data manipulation in Python. The name of Pandas is derived from the word Panel Data, which means an Econometrics from Multidimensional data. It is used for data analysis in Python and developed by Wes McKinney in 2008.
        </p>
        <p>
            Data analysis requires lots of processing, such as restructuring, cleaning or merging, etc. There are different tools are available for fast data processing, such as Numpy, Scipy, Cython, and Panda. But we prefer Pandas because working with Pandas is fast, simple and more expressive than other tools.
        </p>
        <h1 class="py">Key Features of Pandas</h1>
        <p>
            <ul>
                <li>    It has a fast and efficient DataFrame object with the default and customized indexing.</li>
                <li>    Used for reshaping and pivoting of the data sets. </li>
                <li>    Group by data for aggregations and transformations. </li>
                <li>    It is used for data alignment and integration of the missing data. </li>
                <li>    Provide the functionality of Time Series. </li>
                <li>    Process a variety of data sets in different formats like matrix data, tabular heterogeneous, time series. </li>
                <li>    Handle multiple operations of the data sets such as subsetting, slicing, filtering, groupBy, re-ordering, and re-shaping. </li>
                <li>    It integrates with the other libraries such as SciPy, and scikit-learn. </li>
                <li>    Provides fast performance, and If you want to speed it, even more, you can use the Cython.</li>
            </ul>
        </p>
        <div class="image px">
          <img src="https://myriadbrain.com/wp-content/uploads/2022/01/WhatsApp-Image-2022-01-26-at-4.27.40-PM-min.jpeg"
          class="image" alt="coding image">
        </div>
        <p class="px">Machine Learning, Artificial Intelligence, Deep Learning, the Internet of Things, etc., are now
          changing the world. It will not be wrong to say these branches will be at their peak.
        </p>
        <p class="px">
          Because the amount of data we generate and store every day is growing at an exponential rate. Machine
          Learning, Artificial Intelligence, and Deep Learning help organizations extract value from the troves of data
          they collect, delivering business insights, automating tasks, and advancing system capabilities.
        </p>
        <p class="px">
          Before I jump into the roadmap for ML, let me tell you why this roadmap will be a bit different than others.
        </p>
        <p class="px">
          If you want to build your career in AI & ML, you might get lots of challenges and confusion in starting
          because many of us don’t know the right resources and path to follow for machine learning. Some of us may end
          up with highly advanced ML courses and stop the ML journey.
        </p>
        <p class="px">
          But you will get all the resources that cover fundamental concepts to advance level concepts for ML in this
          Machine Learning Roadmap.
        </p>
        <h1 class="">
          Machine Learning Roadmap
        </h1>
        <p class="px">

      </div> <!-- end of card class of leftcolumn -->

    </div> <!-- end of leftcolumn -->

    <div class="rightcolumn">
      <div class="card disp-none">
        <div class="searchbar">
          <div class="searchbox">
            <input type="text" name="search" id="search" placeholder="Search">
          </div>
          <div class="btn mx s_btn">
            <p>Search</p>
          </div>
        </div>
      </div>

      <div class="card px">
        <h1 class="py">Popular post</h1>
        <p class="">
          <p class="py-1"><a href="#" style="color: blue;" class="pointer"> 
            Best Machine Learning Roadmap Definitive guide to ML for 2022
          </a> </p>
          <p class="py-1"> <a href="/portfolio/code_files/numpy/index.html" style="color: blue;" class="pointer"> 
            Numpy Introduction
          </a>
          </p>
          <p class="py-1"> <a href="/portfolio/code_files/pandas/index.html" style="color: blue;" class="pointer"> 
            Pandas Introduction
          </a>
          </p>
      </div>
    </div> <!-- end of right column -->
  </div> <!-- end of container class -->

  <div class="footer">
    <div class="fcontainer">
      contact us on 
        <a href="https://www.github.com/" target="_blank" style="color:black;"><div class="fa fa-github pointer p-l"></div>
        </a>
        <a href="https://www.linkedin.com/" target="_blank" style="color:black;"><div class="fa fa-linkedin pointer p-l"></div>
        </a>
        <a href="https://www.facebook.com/" target="_blank" style="color:black;"><div class="fa fa-facebook pointer p-l"></div>
        </a>
      </div>
  
    </div>
  </div>

</body>

</html>